{{ if .Site.Data.picture.enable }}
{{"<!-- Start picture -->" | safeHTML}}
<section id="picture" class="testimonial overly section bg-2" style='background-image: url("{{ .Site.Data.testimonial.bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                {{"<!-- picture wrapper -->" | safeHTML}}
                <div id="pictures" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
                    {{ range .Site.Data.picture.pictureItem }}
                    {{"<!-- picture single -->" | safeHTML}}
                    <div class="item text-center">

                        {{"<!-- client photo -->" | safeHTML}}
                        <div class="landscape">
                            <img src="{{ .image | absURL }}" class="rounded mx-auto d-block" >
                        </div>

                        {{"<!-- client info -->" | safeHTML}}
                        <div class="client-info">
                            <div class="client-meta">
                                <h6>{{ .name }}</h6>
                            </div>
                        </div>
                    </div>
                    {{"<!-- /picture single -->" | safeHTML}}
                    {{ end }}
                    </div>
                </div>
            </div>
</section>
{{"<!-- /picture -->" | safeHTML}}
{{ end }}
