{{ define "main" }}

    {{ partial "preloader.html" . }}



    {{ partial "top-nav.html" . }}


    {{ partial "hero-area.html" . }}


    {{ partial "navigation.html" . }}

    {{ partial "picture.html" . }}

    
{{ partial "portfolio.html" . }} <!--change it's name to About us-->
    

    {{ partial "cta.html" . }}

    {{ partial "service.html" . }}

    {{ partial "skill.html" . }}

    

    {{ partial "counter.html" . }}

    {{ partial "team.html" . }}

    {{ partial "pricing.html" . }}

    {{ partial "testimonial.html" . }}

    

    {{ partial "contact.html" . }}

{{ end }}
